@using System.Web.Optimization

<html>
<head>
    <title>Hello React</title>
    @* Ver si usar bootstrap 4.3.1 o usar el bootstrap que ya esta dentro del PBS, analizar retrabajo con nuevo bootstrap
       la version de reacstrap que se implemento usa bootstrap 4.3.1 *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    @*<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css">*@
</head>
<body>
    <div id="App"></div>
    @Scripts.Render("~/bundles/react_development")
    <script type="text/javascript" src="@Url.Content("~/Scripts/React/dependencies/styled-components/styled-components.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/React/dependencies/reactstrap/reactstrap.full.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/React/components/example-component-with-styled-components/styles.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/React/api/comments.js")"></script>
    @Scripts.Render("~/bundles/react_components")
    @Html.ReactInitJavaScript()
</body>
</html>